.btn {
  width: 250px;
  height: 50px;
  color: $text;
  font-size: 20px;
  line-height: 2.21em;
  font-weight: 500;
  text-align: center;
  display: inline-block;
}

.btn-red {
  background-color: $red;
  color: $white;
  margin-top: 50px;
}

.btn-big {
  width: 300px;
  height: 60px;
  font-size: 24px;
  line-height: 2.21em;
  font-weight: 600;

}

.btn-yellow {
  background-color: $primary;
}

.btn-small {
  width: 200px;
  height: 50px;
}

.btn-border-grey {
  border: solid 1px $border;
}

.btn-border-black {
  border: solid 1px black;
  margin-top: 40px;
}


.btn-footer {
  margin-right: 0;
  margin-top: 0;
}
.btn-after {
  position: relative;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    border: solid 1px $primary;
    position: absolute;
    display: block;
    left: 10px;
    top: 10px;
    z-index: 0;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
  }
  span {
    position: relative;
    z-index: 1;
  }
}

.btn-after-grey {
  position: relative;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    border: solid 1px $btn;
    position: absolute;
    display: block;
    left: 10px;
    top: 10px;
    z-index: 0;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
  }

  span {
    position: relative;
    z-index: 1;
  }
}








