.button {
  width: 300px;
  height: 60px;
  background-color: $red;
  color: $btn;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  padding-top: 15px;
  text-align: center;
  position: relative;
  margin-top: 60px;
  margin-bottom: 70px;

  &:after {
    content: " ";
    width: 300px;
    height: 60px;
    border: solid 1px $btn;
    z-index: -1;
    position: absolute;
    display: block;
    left: 10px;
    top: 10px;

  }
}

.button--color {
  background-color: $primary;
  width: 250px;
  height: 51px;
  color: $text;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  padding-top: 15px;
  margin-left: 80px;


  &:after {
    display: none;
  }
}

.button--info {
  margin-left: 0;
}





