.contactform {
  padding: 120px 0 120px 300px;

}

.form {

  &__title {
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 600;

  }

  &__text {
    font-size: 16px;
    line-height: 1.31em;
    font-weight: 400;
    margin-top: 20px;

  }

  &__block {
    display: flex;
    justify-content: space-between;
    margin-right: 220px;
  }

  &__input {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    font-size: 20px;
    outline: none;
    width: 30%;
    padding-top: 60px;
    margin-bottom: 30px;
  }
  &__button {
    width: 30%;
  }

  &__consent {
    color: $text;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    padding-top: 15px;
  }

}