.header {
  height: 100px;
  padding-top: 20px;
  position: relative;
  z-index: 1;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}


.logo {
  font-size: 30px;
  font-weight: 600;
  color: $text;
}

.nav {
  display: inline-block;

  a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 50px;
    color: $text;
  }

  a:last-child {
    margin-right: 0;
  }
}

.phone {
  font-size: 24px;
  font-weight: 600;
}