.info {
  position: relative;
}


.info__btn {
  display: flex;
  justify-content: center;

  .btn {
    margin-right: 20px;
  }
}


.btn:hover {
  border: solid 1px $primary;
}


.info__slider {
  margin-top: 90px;
  margin-left: 120px;
}

.info__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  margin-bottom: 30px;
}


.info__img {
  position: absolute;
  left: 528px;
  top: 90px;
}