.intro {
  background-color: $primary;
  margin-top: -100px;
  height: 650px;
  padding-top: 100px;
  position: relative;



  &__inner {
    max-width: 550px;
    position: relative;

  }

  &__title {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.27em;
  }

  &__text {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.23em;


  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }
}

.intro__block {
  display: flex;
  justify-content: space-between;

}

.intro__img {
  margin-right: 15px;
}

.intro:before {
  content: " ";
  background-image: url("../img/intro/123.png");
  position: absolute;
  width: 800px;
  height: 600px;
  left: 950px;
  bottom: 0;
}






