.intro {
  position: relative;
  margin-top: -100px;

  &__inner {
    max-width: 550px;
    position: relative;
    padding-top: 100px;
  }

  &__text {
    font-size: 70px;
    font-weight: 700;
    line-height: 89px;
    color: $text;

  }

  span {
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    color: $text;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }
}

.intro__block {
  display: flex;
  justify-content: space-between;


}

.intro__img {
    margin-right: 15px;
  }

.fon {
  background-color: $primary;
  width: 100%;
  height: 650px;
  position: absolute;

  &__outer {
    position: absolute;
    left: 850px;
    top: 43px;
  }

  &__inner {
    position: absolute;
    left: 1150px;
    top: 174px;
  }

}




