.maps {
  background-image: url("../img/maps/1.png");
  height: 660px;

  &__block {
    width: 368px;
    height: 326px;
    position: relative;
    background-color: $white;
    left: 150px;
    top: 150px;
    padding-left: 30px;
    padding-top: 30px;

  }

  &__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    color: $text;
    margin-bottom: 40px;
  }

  &__social {
    font-size: 1.7em;
    margin-top: 40px;
    text-align: right;

    a {
      color: #000000;
      margin-right: 20px;
    }
  }

}


