.maps {
  position: relative;
  margin-top: 80px;

  &__block {
    width: 368px;
    height: 326px;
    position: relative;
    background-color: $white;
    left: 150px;
    top: 150px;
    padding-left: 30px;
    padding-top: 30px;

  }

  &__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    color: $text;
    margin-bottom: 40px;
  }

  &__list {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
  }

  &__social {
    font-size: 1.7em;
    margin-top: 40px;
    text-align: right;

    a {
      color: #000000;
      margin-right: 20px;
    }
  }

  &__fon {
    background-image: url("../img/maps/1.png");
    height: 666px;
    width: 100%;
    position: absolute;
  }
}


.maps__list:before {
  content: " ";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/maps/2.png");
  background-repeat: no-repeat;
  padding-right: 10px;
}

.maps__list-text {
  text-decoration: underline;
}


