.section__header {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  margin-top: 60px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: $text;
  padding-bottom: 5px;
}

h3 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: $text;
}