* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat", sans-serif;
  color: #333333; }

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px; }

.header {
  height: 100px;
  padding-top: 20px;
  position: relative;
  z-index: 1; }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.logo {
  font-size: 30px;
  font-weight: 600;
  color: #333333; }

.nav {
  display: inline-block; }
  .nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 50px;
    color: #333333; }
  .nav a:last-child {
    margin-right: 0; }

.phone {
  font-size: 24px;
  font-weight: 600; }

.btn {
  width: 250px;
  height: 50px;
  color: #333333;
  font-size: 20px;
  line-height: 2.21em;
  font-weight: 500;
  text-align: center;
  display: inline-block; }

.btn-red {
  background-color: #FF352B;
  color: #FFFFFF;
  margin-top: 50px; }

.btn-big {
  width: 300px;
  height: 60px;
  font-size: 24px;
  line-height: 2.21em;
  font-weight: 600; }

.btn-yellow {
  background-color: #FED100; }

.btn-small {
  width: 200px;
  height: 50px; }

.btn-border-grey {
  border: solid 1px #EBEBEB; }

.btn-border-black {
  border: solid 1px black;
  margin-top: 40px; }

.btn-footer {
  margin-right: 0;
  margin-top: 0; }

.btn-after {
  position: relative; }
  .btn-after:before {
    content: "";
    width: 100%;
    height: 100%;
    border: solid 1px #FED100;
    position: absolute;
    display: block;
    left: 10px;
    top: 10px;
    z-index: 0; }
  .btn-after:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: inherit; }
  .btn-after span {
    position: relative;
    z-index: 1; }

.btn-after-grey {
  position: relative; }
  .btn-after-grey:before {
    content: "";
    width: 100%;
    height: 100%;
    border: solid 1px #F2F2F2;
    position: absolute;
    display: block;
    left: 10px;
    top: 10px;
    z-index: 0; }
  .btn-after-grey:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: inherit; }
  .btn-after-grey span {
    position: relative;
    z-index: 1; }

.intro {
  background-color: #FED100;
  margin-top: -100px;
  height: 650px;
  padding-top: 100px;
  position: relative; }
  .intro__inner {
    max-width: 550px;
    position: relative; }
  .intro__title {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.27em; }
  .intro__text {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.23em; }
  .intro__items {
    display: flex;
    justify-content: space-between;
    margin-top: 100px; }

.intro__block {
  display: flex;
  justify-content: space-between; }

.intro__img {
  margin-right: 15px; }

.intro:before {
  content: " ";
  background-image: url("../img/intro/123.png");
  position: absolute;
  width: 800px;
  height: 600px;
  left: 950px;
  bottom: 0; }

.modal {
  width: 500px;
  height: 200px;
  background-color: #FFFFFF;
  top: 60px;
  left: 700px;
  position: fixed;
  display: none;
  z-index: 30; }
  .modal.active {
    display: block; }
  .modal__title {
    font-size: 36px;
    line-height: 5.21em;
    font-weight: 600;
    text-align: center; }
  .modal__cross {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px; }

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: .3s all;
  display: none; }
  .modal__overlay.active {
    display: block; }

.section {
  padding-top: 20px; }

.section-yellow {
  background-color: #FED100;
  margin-top: 100px;
  padding-bottom: 80px; }

.section__title {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  margin-top: 60px;
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 600; }

.section__subtitle {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 24px;
  line-height: 1.21em;
  font-weight: 600; }

.process {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px; }
  .process__item {
    display: flex;
    width: 40%;
    margin-bottom: 50px; }
  .process__left {
    font-size: 50px;
    line-height: 1.22em;
    font-weight: 300;
    text-shadow: #FED100 3px 0 0;
    padding-right: 40px; }
  .process__title {
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 500;
    margin-bottom: 10px; }
  .process__text {
    font-size: 16px;
    line-height: 1.31em;
    font-weight: 400; }

.price {
  display: flex;
  justify-content: space-between; }

.teaser {
  border: solid 1px #EBEBEB;
  width: 33.333%;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
  margin-right: 20px; }
  .teaser .teaser:last-child {
    margin-right: 0; }
  .teaser__title {
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    font-weight: 600;
    text-align: center; }
  .teaser__text {
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
    text-align: center;
    margin-top: 30px; }
  .teaser__price {
    font-size: 30px;
    line-height: 36px;
    color: #333333;
    font-weight: 600;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px; }

.teaser:hover {
  border: solid 1px #FED100; }

.slider {
  height: 600px;
  position: relative;
  overflow: hidden; }

.slider__inner {
  width: 1600px;
  height: 600px;
  display: flex;
  position: relative;
  transition: transform 0.3s; }

.slide {
  width: 1300px;
  flex-shrink: 0;
  position: relative;
  padding: 0 60px; }

.slide__inner {
  margin-top: 90px;
  margin-left: 120px; }

.slide__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  margin-bottom: 30px; }

.slide__img {
  position: absolute;
  right: 0;
  top: 20px; }

.slide-arrow {
  width: 45px;
  height: 45px;
  background-color: white;
  border: none;
  position: absolute;
  top: 50%;
  z-index: 1; }

.slide-arrow:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  top: 50%;
  left: 50%;
  border-left: 5px solid #000;
  border-bottom: 5px solid #000; }

.slide-arrow:before {
  transform-origin: 100% 0;
  transform: rotate(45deg); }

.slide-arrow_left {
  left: 0; }

.slide-arrow_right {
  position: absolute;
  right: 0;
  transform: rotate(180deg); }

.listing {
  margin-bottom: 30px; }

.listing__inner {
  list-style-type: none;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  padding-bottom: 20px; }

.listing__inner:before {
  content: " ";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/info/2.png");
  background-repeat: no-repeat;
  padding-right: 10px; }

.listing__maps:before {
  content: " ";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/maps/2.png");
  background-repeat: no-repeat;
  padding-right: 10px; }

.reviews {
  display: flex;
  justify-content: space-between;
  margin-top: 60px; }
  .reviews__block {
    width: 32%; }
  .reviews__name {
    font-size: 24px;
    line-height: 1.21em;
    font-weight: 600;
    margin-bottom: 30px; }
  .reviews__info {
    display: flex;
    justify-content: right;
    margin-bottom: 30px; }
  .reviews__data {
    font-size: 16px;
    line-height: 1.31em;
    font-weight: 400;
    margin-right: 10px; }
  .reviews__star {
    color: #FF352B; }
  .reviews__text {
    font-size: 16px;
    line-height: 1.31em;
    font-weight: 400;
    margin-bottom: 30px; }
  .reviews__continued {
    font-size: 16px;
    line-height: 1.31em;
    font-weight: 400;
    color: #333333; }
  .reviews__btn {
    text-align: center; }

.contactform {
  padding: 120px 0 120px 300px; }

.form__title {
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 600; }
.form__text {
  font-size: 16px;
  line-height: 1.31em;
  font-weight: 400;
  margin-top: 20px; }
.form__block {
  display: flex;
  justify-content: space-between;
  margin-right: 220px; }
.form__input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-size: 20px;
  outline: none;
  width: 30%;
  padding-top: 60px;
  margin-bottom: 30px; }
.form__button {
  width: 30%; }
.form__consent {
  color: #333333;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  padding-top: 15px; }

.maps {
  background-image: url("../img/maps/1.png");
  height: 660px; }
  .maps__block {
    width: 368px;
    height: 326px;
    position: relative;
    background-color: #FFFFFF;
    left: 150px;
    top: 150px;
    padding-left: 30px;
    padding-top: 30px; }
  .maps__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 40px; }
  .maps__social {
    font-size: 1.7em;
    margin-top: 40px;
    text-align: right; }
    .maps__social a {
      color: #000000;
      margin-right: 20px; }

.footer {
  background-color: #FED100;
  padding-top: 100px;
  padding-bottom: 100px; }
  .footer__inner {
    display: flex;
    justify-content: space-between; }
  .footer__block {
    display: flex;
    flex-direction: column;
    width: 20%; }
  .footer__logo {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600; }
  .footer__text {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    margin-top: 40px; }
  .footer__link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    list-style-type: none;
    margin-bottom: 20px; }
    .footer__link a {
      text-decoration: none;
      color: #333333; }
  .footer__social {
    font-size: 1.7em; }
    .footer__social a {
      color: #000000;
      margin-right: 40px; }
  .footer__mail {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: underline;
    margin-top: 40px; }
  .footer__number {
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    margin-top: 10px; }

/*# sourceMappingURL=main.css.map */
